
@section message{
    <h1>Contact</h1>
}

<main class="container">



    <div class="row">
        <div class="col-2">Phone:</div><div class="col-3">@ViewBag.Phone</div>
    </div>
    <div class="row">
        <div class="col-2">Email:</div><div class="col-3">@ViewBag.Email</div>
    </div>
    <div class="row">
        <div class="col-2">Facebook:</div><div class="col-3">@ViewBag.Facebook</div>
    </div>

</main>

