

    <h2>Tutorial Page 2</h2>

<p>This is the second thing you need to know about my website.</p>
<a class="btn btn-dark" asp-controller="Tutorial" asp-action="Index" asp-route-id="1">Previous Page</a>
<a class="btn btn-dark" asp-controller="Tutorial" asp-action="Index" asp-route-id="3">Next Page</a>
