
    <h2>Tutorial Page 3</h2>

<p>This is the third thing you need to know about my website.</p>
<a class="btn btn-dark" asp-controller="Tutorial" asp-action="Index" asp-route-id="2">Previous Page</a>

